.label-input {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.label-input label input {
  margin-right: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar h4 {
  margin-top: 0px;
}

.sidebar .plant-selector {
  margin-bottom: 10px;
}

@media only screen and (max-width: 810px) {
  .rbt-input-multi.form-control.rbt-input {
    font-size: 0.7em;
  }

  h4 {
    font-size: 1.25em !important
  }
}
