.label-input {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.label-input label input {
  margin-right: 5px;
}

.sidebar h4 {
  margin-top: 0px;
}

.sidebar .plant-selector {
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .rbt-input-multi.form-control.rbt-input {
    font-size: 0.7em;
  }
}
