.label-input {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.label-input label input {
  margin-right: 5px;
}

.rbt-input-wrapper div:last-child {
  line-height: 1.5em;
  padding-left: 5px;
}

/* Hide hint text as it's out of sync with the typed text on safari and at small widths */
.rbt-input-wrapper div:last-child input:last-child {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  margin-bottom: 15px; 
  /*  fix for old safari not supporting flex-gap */
}

.sidebar h4 {
  margin-top: 0px;
}

@media only screen and (max-width: 810px) {
  .rbt-input-multi.form-control.rbt-input {
    font-size: 0.7em;
  }

  h4 {
    font-size: 1.25em !important;
  }
}
